<div class='issue issue-full'>
	<nav class='detail-bar'>
		<ul>
			<li class='back-button'><a href="/popup.html">Back</a></li>
			<li class='toggle-state' ng-click="toggleOpen(issue)">{{issue.state}}</li>
			<li class='github-link'><a href="{{issue.html_url}}" ng-click='createTab(issue.html_url)'>Full Issue</a></li>
		</ul>
	</nav>

	<header>{{issue.title}}</header>


	<div class='content' ng-bind-html="issue.body|markdown"></div>

	<ul class='header'>
		<li class='reported-by'>
			<i>Opened by</i> {{issue.user.login}}
			<img src="{{issue.user.avatar_url}}" />
			<i class='created'>Created on: {{issue.created_at|date:medium}}</i>
		</li>
	</ul>

	<ul class='labels'>
		<li class='label' ng-repeat='label in labels' style="background-color: #{{label.color}};">
			{{label.name}}
		</li>
	</ul>

	<ul class='comments'>
		<li ng-repeat="post in posts">
			<div class='content' ng-bind-html='post.body|markdown'>{{post.body|markdown}}</div>
			<ul>
				<li><i> &mdash; {{post.user.login}}</i></li>
				<li>{{post.created_at|date:medium}}</li>
			</ul>
		</li>
	</ul>
</div>
