<input ng-model='titleSearch' type='text' placeholder='Search' class='search-input'></input>

<div class='issues-container'>
	<ul class='tabs'>
		<li class='tab' ng-class="{'is-active': isActiveLink}">
			<a data-named-route='root'>Open</a>
		</li>
		<li class='tab' ng-class="{'is-active': activeLink('/popup.html/closed')}">
			<a data-named-route='closed'>Closed</a>
		</li>
	</ul>
	<table class='issues-list'>
		<tr class='header'>
			<th ng-click='filterWith = "number"'>#</th>
			<th ng-click='filterWith = "title"'>Title</th>
			<th ng-click='filterWith = "user.name"'>User</th>
			<th ng-click='filterWith = "assignee.name"'>Assigned</th>
		</tr>
		<tr ng-repeat="issue in issues | orderBy: filterWith | filter: titleSearch" class='issue'>
			<td class="number"><a data-named-route="issue-detail" data-kwarg-issue="{{issue.number}}">{{issue.number}}</a></td>
			<td class="title"><a data-named-route='issue-detail' data-kwarg-issue="{{issue.number}}">{{issue.title}}</a></td>
			<td class="reported-by"><img ng-src="{{issue.user.avatar_url}}" /></td>
			<td class="assigned-to reported-by"><img ng-src="{{issue.assignee.avatar_url}}" /></td>
		</tr>
	</table>
</div>
