.issue-full {
	ul {
		.unstyle-list();

		li {
			display: inline-block;
		}
	}

	.labels {
		padding: 10px 0;
		margin: 0;

		.label {
			color: white;
			text-shadow: 0 1px #000;
			.border-radius(5px);
			margin: 0 5px;
			#gradient.vertical(rgba(255,255,255,0.2), rgba(0,0,0, 0.2));
			padding: 2px 5px;
			text-transform: lowercase;
		}
	}

	.detail-bar {
		background: lighten(#000, 30%);
		color: white;
		line-height: 20px;

		a {
			color: inherit;
		}

		li {
			width: 32%;
			text-align: center;
			text-transform: uppercase;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
	}

	header {
		color: white;
		text-align: left;
		margin-top: 10px;
		font-size: 90%;
	}

	.content {
		img {
			width: 100%;
			height: auto;
		}
	}

	.header {

		li {
			height: 20px;
		}

		.reported-by img {
			.size(20px);
		}

		.created {
			font-size: 60%;
		}

		.number {
			float: right;
		}
	}

	.comments {
		margin-top: 10px;

		> li {
			border-top: 1px solid black;
			margin-top: 15px;
			width: 100%;

			ul li {
				display: inline-block;
			}

			ul {
				float: right;
			}
		}
	}
}
